<head>
<%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
 <div class="p-5">

    <div class="card">
    <div class="card-body">
        <%= form_for (@link, remote: true) do |form| %>
            <h4 class='card-title'>Enter a URL to Shortener </h4>
        <%= form.text_field :original_url, class: "form-control",placeholder: "Enter Url.." %>												                                                                                                                                                      
        <%= form.submit "Shorten",class: "btn btn-primary mt-3" %>
        
        <% end %>
        <div id="short-link">

        </div>
        
    </div>
    </div>
  </div>
</div>





